/* /////////----RULES----////////// */
/* //////////////////////////////// */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* ////////----HEADER----/////////// */
/* //////////////////////////////// */

header{
    position: sticky;
    height: 55px;
    background-color: #14131e;
    top: 0;
    text-align: right;
}

.row-h{
    height: 50px;
}

.col-h{
    height: 50px;
    padding-top: 15px;
}

.btn{
    display: inline;
    border: 1px solid white;
    color: white;
    padding: 8px 20px;
    border-radius: 50px;
    font-size: 7px;
}

/* ////////----MAIN----/////////// */
/* //////////////////////////////// */
.listacat{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: gray;
}

.listacat ul li{
    list-style-type: none;
    display: inline;
    font-size: x-small;
    padding: 2px;
    padding-left: 5px;
    line-height: 30px;
}

main{
    height: calc(100vh - 50px);
    background-color: rgb(35, 32, 53);
    display: flex;
    width: 100%;
}

.content{
    width: 100%;
    overflow-y: auto;
}

.titolocat{
    font-size: x-large;
    color: white;
}

.row-m{
    display: flex;
}

.col-m{
    height:100%;    
    width:100%;
    /* height: 80%; */
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
}

.square{
    width: 130px;
    height: 170px;
    background-color: #34fb5c;
    border:1px solid #2411b8;
}

.content img{
    width: 130px;
    height: 170px;
}
/* ////////----SIDEBAR----/////////// */
/* //////////////////////////////// */

#sidebar{
    height: calc(100vh - 50px);
    height: 100%;
    /* width: 50px; */
    background-color: hsl(0, 0%, 0%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.row-s-t :first-child img{
    width: 25px;
    height: 25px;
    color: #ffffff;
}

.row-s-t img{
    width: 20px;
    height: 20px;
}

.row-s-d :first-child img{
    width: 20px;
    height: 20px; 
}
.row-s-d :last-child img{
    width: 10px;
    height: 10px; 
}


.row-s-t{
    display: flex;
    flex-direction: column;
}

.col-s{
    width: 100%;
    height: 20px;
    /* background-color: #ff00b7; */
    /* border:1px solid #2411b8; */
}

.col-s-playlist{
    display: none;
    width: 100%;
    height: 170px;
    background-color: #34fb5c;
}

.row-s-d{
    /* height: 354px; */
    /* height: 100%; */
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
}

.col-s-d{
    width: 100%;
    height: 20px;
    /* background-color: rgb(248, 245, 36); */
}

/* ////////----FOOTER----/////////// */
/* //////////////////////////////// */

footer{
    height: 50px;
    background-color: brown;
}

.container-footer{
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.col-f-central .content-f{
    width: 40%;
}

.col-f{
    width: 30%;
    background-color: blueviolet;
    border: 1px dashed red;
}
/* //////////////////SCROLL BAR////////////////// */
/* ////////////////////////////////////////////// */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(213, 211, 211);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(93, 94, 94);
  }

  /* Border */
  ::-webkit-scrollbar-thumb {
    border-radius: 25%;
  }

  ::-webkit-scrollbar-thumb{
    padding: 100px;
  }

/* //////////////////MEDIA QUERY////////////////// */
/* /////////////////////////////////////////////// */
@media screen and (min-width:400px){
    #sidebar{
        width: 150px;
    }
    .col-s-playlist{
        display: inline;
}
}

@media screen and (min-width:630px){

}


@media screen and (min-width:940px){
}