/* /////////----RULES----////////// */
/* //////////////////////////////// */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* ////////----HEADER----/////////// */
/* //////////////////////////////// */

header{
    position: sticky;
    height: 55px;
    background-color: #14131e;
    top: 0;
    text-align: right;
}

.row-h{
    height: 50px;
}

.col-h{
    height: 50px;
    padding-top: 15px;
}

.btn{
    display: inline;
    border: 1px solid white;
    color: white;
    padding: 8px 20px;
    border-radius: 50px;
    font-size: 7px;
}

/* ////////----MAIN----/////////// */
/* //////////////////////////////// */
.listacat{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: gray;
}

.listacat ul li{
    list-style-type: none;
    display: inline;
    font-size: x-small;
    padding: 2px;
    padding-left: 5px;
    line-height: 40px;
}

main{
    height: calc(100vh - 50px);
    background-color: rgb(35, 32, 53);
    display: flex;
    width: 100%;
}

.content{
    width: 100%;
    overflow-y: auto;
}

.titolocat{
    font-size: large;
    color: white;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sottotit{
    font-size: x-small;
    color: gray;
    margin-bottom: 15px;
    margin-left: 10px;
}

.row-m{
    display: flex;
}

.col-m{
    gap:30px 10px;
    height:100%;    
    width:100%;
    /* height: 80%; */
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
}

.square{
    width: 130px;
    height: 170px;
    /* background-color: #34fb5c;
    border:1px solid #2411b8; */
}

.content img{
    width: 130px;
    height: 130px;
}

.bdradius{
    border-radius: 50%;
}

.songtitle{
    color: white;
    font-size: 12px;
    text-align: center;
}

.subtitle{
    font-size: 9px;
    text-align: center;
    color: gray;
}

/* ////////----SIDEBAR----/////////// */
/* //////////////////////////////// */

#sidebar{
    height: calc(100vh - 50px);
    height: 100%;
    width: 30px;
    background-color: hsl(0, 0%, 0%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 4px;
}

.row-s-t :first-child img{
    width: 25px;
    height: 25px;
    color: #ffffff;
}

.row-s-t img{
    width: 20px;
    height: 20px;
}

.row-s-d :first-child img{
    width: 20px;
    height: 20px; 
}
.row-s-d :last-child img{
    width: 10px;
    height: 10px; 
}


.row-s-t{
    display: flex;
    flex-direction: column;
}

.col-s{
    width: 100%;
    height: 25px;
    
    /* background-color: #ff00b7; */
    /* border:1px solid #2411b8; */
}

.col-s-playlist{
    display: none;
    width: 100%;
    height: 170px;
    color:gray;
    font-size: 10px;
    line-height: 27px;
    font-weight: 600;
    /* background-color: #34fb5c; */
    
}

.row-s-d{
    /* height: 354px; */
    /* height: 100%; */
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    text-align: left;
    margin-left: 10px;
}

.col-s-d{
    width: 100%;
    height: 20px;
    /* background-color: rgb(248, 245, 36); */
}

.logoprinc{
    display:none;
    width: 111px;
    height: 30px;
}

.logoprinc img{
    width: 111px;
    height: 30px;
    margin-top: -13px;

}

.menù{
    display: none;
    color: gray;
    font-size: 10px;
    font-weight: 600;
}

.playlist{
    font-size: 10px;
    font-weight: 600;
    color: #ffffff;
    margin-top: 10px;
    text-align: left;
    margin-left: 10px
}

.più{
    background-color: #acabab;
    padding: 5px;
    text-align: left;
    
    margin-right: 10px;
}

.piùpiù{
    text-align: left;
    margin-left: 10px
}

.np{
    text-align: left;
    margin-left: 10px
}

.underside-d{
    color: gray;
    font-size: 10px;
    margin-left: 5px;
    vertical-align: middle;
    display: none;
}

.underside-t{
    color: white;
    margin-left: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
    display: none;
}

.row-s-d hr{
    margin-top: 1px;
    margin-bottom: 5px;
    background-color: gray;
    display: inline;
}

.col-s-d:first-child img{
    background-color: gray;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: -7px;
}

.col-s-d:last-child img{
    vertical-align: middle;
    margin-left: -3px;
}
/* ////////----FOOTER----/////////// */
/* //////////////////////////////// */

footer{
    height: 50px;
    background-color: hwb(0 18% 82%);
}

.container-footer{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.content-f-l{
    display: flex;
}


.content-f{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.col-f-central{
    width: 40%;
}

.col-f-l,.col-f-r{
    width: 30%;
    /* background-color: blueviolet; */
    /* border: 1px dashed red; */
}

.col-f-l :first-child img{
    width: 20px;
    height: 20px;
}

.titolosong{
    font-size: 9px;
    color: #ffffff;
    padding-left: 3px;
}

.songsong{
    font-size: 7px;
    color: gray;
    padding-left: 3px;
}

.minic-col-l{
    padding-top:10px ;
    padding-bottom:5px ;
    padding-left: 5px;
}

footer i{
    font-size: x-small;
    color: gray;
}

.isong{
    margin-top: 4px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.playertop{
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-top: 7px;
    margin-left: -10px;


}
.playerdown{
    display: flex;
}

.coldplayer{
    padding: 20px;
}

.playertop:nth-child(3){
    font-size: larger;
}

.colbarcentral{
    width: 80%;
}

.colbar{
    width: 20%;
}

.barrascura{
    padding: 1px;
    background-color: lightslategrey;
    width: 100%;
    margin-top: 8px;
    cursor: pointer;
}

.barrachiara{
    padding: 1px;
    background-color: #ffffff;
    width: 10%;
    margin-top: -2px;
}

.colbarl{
    font-size: 7px;
    color: #ffffff;
    padding: 5px;
}
.colbarr{
    font-size: 7px;
    color: #ffffff;
    padding: 5px;
}

/* .icon{
    width: 15%;
} */

.barrapiccola{
    width: 55%
}

.content-f-r{
    display: flex;
}

.content-f-r .icon{
    margin-top: 12px;
}

.barrapicgrigia{
    padding: 1px;
    background-color: lightslategrey;
    width: 40px;
    margin-top: 21px;
    margin-left: 6px;
}
.barrapicbianca{
    padding: 1px;
    background-color: #ffffff;
    width: 10px;
    margin-top: -2px;
    margin-left: 6px;   
}

.icon{
    margin-left: 5px;
}

.col-f-r{
    margin-right: 7px;
    display: flex;
    justify-content: flex-end;
}
/* //////////////////SCROLL BAR////////////////// */
/* ////////////////////////////////////////////// */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(213, 211, 211);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(93, 94, 94);
  }

  /* Border */
  ::-webkit-scrollbar-thumb {
    border-radius: 25%;
  }

  ::-webkit-scrollbar-thumb{
    padding: 100px;
  }

/* //////////////////MEDIA QUERY////////////////// */
/* /////////////////////////////////////////////// */
@media screen and (min-width:400px){
    #sidebar{
        width: 240px;
    }
    .col-s-playlist{
        display: inline;
    }
    .fa-brands{
        display: none;
    }
    .logoprinc{
        display: inline;
    }
    .col-s{
        text-align: left;
        margin-left: 7px;
    }
    .menù{
        display: inline;
    }
    .underside-d,.underside-t{
        display: inline;
    }
}

@media screen and (min-width:630px){

}


@media screen and (min-width:940px){
}