/* /////////----RULES----////////// */
/* //////////////////////////////// */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* ////////----HEADER----/////////// */
/* //////////////////////////////// */

header{
    position: sticky;
    height: 55px;
    background-color: hsl(0, 0%, 15%);
    top: 0;
    text-align: right;
}

.btn{
    display: inline;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 10px;
}

/* ////////----MAIN----/////////// */
/* //////////////////////////////// */

main{
    height: calc(100vh - 50px);
    background-color: grey;
    display: flex;
}

 
.content{
    width: calc(100% - 50px);
    overflow-y: auto;
}

/* ////////----SIDEBAR----/////////// */
/* //////////////////////////////// */

#sidebar{
    height: calc(100vh - 50px);
    width: 50px;
    background-color: blue;
}  

.row-s-t{
    display: flex;
    flex-direction: column;
}

.col-s{
    width: 100%;
    height: 20px;
    background-color: #ff00b7;
    border:1px solid #2411b8;
}

.col-s-playlist{
    display: none;
    width: 100%;
    height: 170px;
    background-color: #34fb5c;
}

.row-s-d{
    height: 354px;
    /* height: 100%; */
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
}

.col-s-d{
    width: 100%;
    height: 20px;
    background-color: rgb(248, 245, 36);
}

/* ////////----FOOTER----/////////// */
/* //////////////////////////////// */

footer{
    height: 50px;
    background-color: brown;
}

.container-footer{
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.col-f-central .content-f{
    width: 40%;
}

.col-f{
    width: 30%;
    background-color: blueviolet;
    border: 1px dashed red;
}
/* //////////////////SCROLL BAR////////////////// */
/* ////////////////////////////////////////////// */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(213, 211, 211);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: hwb(140 4% 52%);
  }

  /* Border */
  ::-webkit-scrollbar-thumb {
    border-radius: 25%;
  }

  ::-webkit-scrollbar-thumb{
    padding: 100px;
  }


/* //////////////////MEDIA QUERY////////////////// */
/* /////////////////////////////////////////////// */
@media screen and (min-width:400px){
    #sidebar{
        width: 150px;
    }
    .col-s-playlist{
        display: inline;
}
}

@media screen and (min-width:630px){

}


@media screen and (min-width:940px){
}